name: CI
on: [push]
jobs:
  build:
    name: Build, lint, and test on Node ${{ matrix.node }} and ${{ matrix.os }}

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: ["12.x", "14.x"]
        os: [ubuntu-latest]
        # os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Use Node ${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Install deps
        run: yarn

      - name: Build
        run: yarn build

      - name: Test
        run: yarn test --ci --coverage --maxWorkers=2

      - name: Lint
        run: yarn lint

      - name: Code formatting
        run: yarn check-style
        
      - name: Upload coverage reports
        uses: paambaati/codeclimate-action@v3.0.0
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.TEST_REPORTER_ID }}
        with:
          coverageLocations: |
            ${{github.workspace}}/packages/core/coverage/lcov.info:lcov
            ${{github.workspace}}/packages/authentication-adapters/coverage/lcov.info:lcov
            ${{github.workspace}}/packages/axios-client-adapter/coverage/lcov.info:lcov
            ${{github.workspace}}/packages/file-wrapper/coverage/lcov.info:lcov
            ${{github.workspace}}/packages/http-headers/coverage/lcov.info:lcov
            ${{github.workspace}}/packages/http-query/coverage/lcov.info:lcov
            ${{github.workspace}}/packages/oauth-adapters/coverage/lcov.info:lcov
            ${{github.workspace}}/packages/schema/coverage/lcov.info:lcov